# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Back-end
/backend/node_modules
/backend/.env

frontend/
src/colors.scss
src/favicon.ico
src/index.html
src/main.ts
src/polyfills.ts
src/styles.scss
src/test.ts
src/app/app-routing.module.ts
src/app/app.component.html
src/app/app.component.scss
src/app/app.component.ts
src/app/app.module.ts
src/app/auth/login/login.component.html
src/app/auth/login/login.component.scss
src/app/auth/login/login.component.ts
src/app/auth/signup/signup.component.html
src/app/auth/signup/signup.component.scss
src/app/auth/signup/signup.component.ts
src/app/header/header.component.html
src/app/header/header.component.scss
src/app/header/header.component.ts
src/app/interceptors/auth-interceptor.ts
src/app/models/Sauce.model.ts
src/app/sauce-form/sauce-form.component.html
src/app/sauce-form/sauce-form.component.scss
src/app/sauce-form/sauce-form.component.ts
src/app/sauce-list/sauce-list.component.html
src/app/sauce-list/sauce-list.component.scss
src/app/sauce-list/sauce-list.component.ts
src/app/services/auth-guard.service.ts
src/app/services/auth.service.ts
src/app/services/sauces.service.ts
src/app/single-sauce/single-sauce.component.html
src/app/single-sauce/single-sauce.component.scss
src/app/single-sauce/single-sauce.component.ts
src/assets/.gitkeep
src/assets/images/flame.png
src/environments/environment.prod.ts
src/environments/environment.ts
.browserslistrc
angular.json
karma.conf.js
package-lock.json
package.json
README.md
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
.env
backend/images
backend/cert.pem
backend/key.pem
Dummy_ENV.txt
